.heading {
    font-size: 30px;
    width: 100%;
    box-shadow: 5px 5px 5px grey;
    color: cyan;
    font-family:'Times New Roman', Times, serif
}

.NOTE {
    font-size: 15px;
    color: cyan;
}

.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    line-height: 2;
    font-size: 15px;
}

canvas {
    border: 5px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}

body {
    background-size: cover;
    background-position: center;
}